.header {
    background-color: #a88d4e;
    alignment: center;
    width: 100%;
    height: 100px;
}

.main {
    background-color: #ab9b73;
    padding-top: 20px;
}

.footer {
    background-color: #a88d4e;
    alignment: center;
    width: 100%;
    height: 50px;
}

h1 {
    text-align: center;
}

h3 {
    padding-left: 50px;
}

body {
    font-size: 12pt;
    font-family: sans-serif;
    margin: 0;
    background-color: #a88d4e;
}

table {
    text-align: center;
    alignment: center;
    width: 50%;
    max-width: 400px;
}

a, p {
    padding-left: 10px;
    padding-right: 50px;
}

.pic {
    float: left;
    margin: 10px;
    width: 200px;
}

.quote {
    font-style: italic;
    padding: 10px;
}